.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f62fe;
  color: white;

  height: 95px;              
  padding: 0.5rem 3rem;           

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.username {
  font-size: 1.3rem;
  font-weight: 600;
}

.logout-btn mat-icon {
  font-size: 28px;
  color: black;
}

.logout-btn:hover {
  background-color: rgba(255, 255, 255, 0.18);
  transition: 0.2s ease;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 85px;             
  object-fit: contain;
  filter: brightness(95%);
}
