.new-order-container {
  max-width: 850px;
  margin: 0 auto;
  padding: 10px 0 40px;
  font-family: "IBM Plex Sans", sans-serif;
}

h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}


.observaciones-wrapper {
  grid-column: span 3;
  display: flex;
  flex-direction: column;
}

.observaciones-wrapper textarea {
  width: 100%;
  height: 90px;
  resize: none;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  font-family: inherit;
}

.btn-save {
  margin-top: 25px;
  background-color: #4B00FF !important;
  color: white;
  border-radius: 6px;
  padding: 8px 22px;
  font-size: 15px;
}
