.layout-container {
  display: flex;
}

.layout-content {
  flex: 1;
  padding: 1rem;
}

@media (max-width: 768px) {
  .layout-container {
    flex-direction: column !important;
    width: 100% !important;
    max-width: 100% !important;
    overflow-x: hidden !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  .content {
    width: 100% !important;
    max-width: 100% !important;
    padding: 0 !important;
    overflow-x: hidden !important;
  }

}