/* ======= LAYOUT GENERAL ======= */
.layout-container {
  display: flex;
  width: 100%;
}


@media (max-width: 768px) {
  
  .layout-container {
    flex-direction: column !important;
    width: 100% !important;
    max-width: 100% !important;
    overflow-x: hidden !important;
  }

  .content {
    width: 100% !important;
    max-width: 100% !important;
    padding: 0 !important;
    overflow-x: hidden !important;
  }


  app-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100vh;
    z-index: 9999;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }


  app-sidebar.open {
    transform: translateX(0);
  }
}
