:root {
  --azul-ibm: #4B00FF;
}


.orders-container {
  padding: 24px;
  font-family: "IBM Plex Sans", sans-serif;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 8px;
}


.nuevo-link {
  font-size: 14px;
  color: var(--azul-ibm) !important;
  text-decoration: underline !important;
  cursor: pointer;
}

.actions {
  margin-bottom: 20px; 
}


.validate-bar {
  margin-bottom: 16px; 
}


.tabla {
  width: 100%;
  background: white;
  border-radius: 8px;
  margin-bottom: 30px;
}


.filtros-container {
  background: #ffffff;
  padding: 20px;
  margin-top: 35px;
  border-radius: 12px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.08);
}

.titulo-filtros {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 15px;
  color: #1f1f1f;
}


.filtros-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  align-items: start; 
}


.filtro-item {
  width: 100%;
}


.btn-buscar {
  background: #3c6df0;
  color: white;
  border: none;
  padding: 0 18px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;

  height: 56px;     
  width: 100%;       
  margin-top: 0;

  transition: 0.2s ease;
}

.btn-buscar:hover {
  background: #274fc7;
  transform: translateY(-1px);
}


.paginacion {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 14px;
  align-items: center;
}

.btn-page {
  background: #f4f4f4;
  border: 1px solid #ccc;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 6px;
  transition: 0.2s;
}

.btn-page:hover:not(:disabled) {
  background: #e3e3e3;
}

.btn-page:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.page-info {
  font-weight: 600;
  color: #444;
  min-width: 140px;
  text-align: center;
}
