html, body {
  height: 100%;
  margin: 0;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-layout {
  flex: 1;
  display: flex;
  background: white;
}

.page-content {
  flex: 1;
  background: white;
  padding: 20px;
}

.page-content.dashboard-page {
  padding: 0;
}